ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    text-align: center;
    padding-left: 5%;

  


}

.nav {
    /* margin: auto; */
    position: sticky;
    top: 0;
    text-align: center;
    

}

li {
    padding-left: 10vw;
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    /* align-items: center; */
    padding: 14px 20px;
    margin: auto;
    text-decoration: none;
    /* align-content: center; */

text-align: center;

}

li a:hover {
    border-radius: 30%;
    /* width:10vw; */
    background-color: rgb(194, 242, 121);
    color: #333;
}

.flow marquee  {
    padding-top: 2vh;
    scroll-behavior: auto;

    margin: 1vh;
    height: 5vh;
    font-size: 5vh;
    background-color: rgb(248, 248, 116);
    font-weight: bolder;

}

.projects,
.codes {
    margin: auto;

    height: 50vh;
    width: 60vw;
    background-color: rgb(151, 224, 224);
    padding-left: 3vh;
    padding-right: 1vh;
    font-size: 3vh;
    display: flow-root;
    overflow-y: scroll;
}

.projects p {
    margin: auto;
    font-size: 5vh;
    text-align: center;
}

.projects a,
.codes a {
    text-decoration: none;


}

.projects a:hover {
    /* color: #333; */
    color: green;

}

.codes a:hover {
    color: green;

}

/* .left{
    display: flexbox;
    flex-direction: column;
flex-wrap: wrap-reverse;
} */
span {
    /* border: 3px solid red; */
    font-size: 7vh;
    margin-left: 2vw;
    margin-bottom: -12vh;
}

span:first-of-type {

    height: 0vh;

    writing-mode: vertical-lr;
    text-orientation: upright;
}

img {
    position: relative;
    width: 15vw;
    margin-bottom: -10%;

}

#right {

    float: right;
}


